<div
  class="item"
  [ngClass]="{
    student: person.type === 'student',
    professor: person.type === 'professor',
    message: person.type === 'message'
  }"
>
  <span *ngIf="person.type !== 'message'"
    >{{ person.name }} {{ person.lastName }} - {{ person.type }}</span
  >
  <span *ngIf="person.type === 'message'">{{ person.name }}</span>

  <div class="buttons">
    <button
      *ngIf="person.type !== 'message'"
      class="show"
      (click)="showPerson()"
    >
      Show
    </button>
    <button
      *ngIf="person.type !== 'message'"
      class="delete"
      (click)="deletePerson(person.id)"
    >
      Delete
    </button>
  </div>
</div>
