<div class="container">
  <h1>City List</h1>

  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

  <input
    type="text"
    [(ngModel)]="newCityName"
    placeholder="Enter new city name"
  />
  <button (click)="addCity()">Add City</button>

  <input
    type="text"
    [(ngModel)]="filterText"
    placeholder="Filter cities"
    (input)="filterCities()"
  />

  <ul>
    <li *ngFor="let city of cities" (click)="deleteCity(city.name)" class="city-item">
      {{ city.name }}
    </li>
  </ul>
</div>
