<h1>Hello, {{ title + 10 }}</h1>
<p>Add {{ sum(3, 5) }}</p>
<!-- <p>Substract {{ substract(9,5) }}</p> -->
<!-- <p>FOR {{ getArray() }}</p> -->

<button (click)="userCardCreated = !userCardCreated">
  create and destroy user card
</button>

<button (click)="selectedUser = users[0]">change to user 0</button>
<button (click)="selectedUser = users[1]">change to user 1</button>

@if(userCardCreated){
<user-card
  [name]="selectedUser.name"
  [email]="selectedUser.email"
  (sendData)="receiveData($event)"
>
  <p>My HTML from Father</p>
  <button>My Button from Father</button>
</user-card>

} @else {
<p>user card destroyed</p>
}

<p>RESULT: {{ result }}</p>

<calculator
  (sum)="onResult($event)"
  (mul)="onResult($event)"
  (reset)="onResult($event)"
></calculator>

<history [history]="history"></history>

<!-- sintaxis antigua -->
<p *ngIf="var1 === var2; else elseold">variables are equals</p>

<ng-template #elseold>
  <!-- variables locales -->
  <p>old, result is false</p>
</ng-template>

<!-- nueva sintaxis -->
@if(var1 === var2) {
<p>new Syntax, variables are equals</p>
} @else {
<p>new Syntax, is false</p>
}

<p *ngFor="let item of ['a', 'b', 'c', 'd']; let i = index">
  old for, value: {{ item }}, index: {{ i }}
</p>

@for(item of ['a', 'b', 'c', 'd']; track item; let i=$index){
<p>New Syntax Student: {{ item }} at index {{ i }}</p>
}

<div [ngSwitch]="var1">
  <p *ngSwitchCase="0">var is 0</p>
  <p *ngSwitchCase="1">var is 1</p>
  <p *ngSwitchDefault>default value</p>
</div>

@switch(var1) { @case(0) {
<p>new syntax, var is 0</p>
} @case(1) {
<p>new syntax, var is 1</p>
} @default {
<p>new syntax, default</p>
} }

<counter></counter>

<button (click)="var1 = var1 + 1">Increment Var1</button>
<p>{{ var1 }}</p>

<p>Total de mujeres: {{ femaleCount }}</p>
<p>Total de hombres: {{ maleCount }}</p>

<button (click)="removeAllPersonsWithDiscount()">
  Eliminar personas con descuento
</button>
<p>Total de personas con descuento: {{ discountCount }}</p>

@for (person of persons; track person; let i = $index) {
<div class="person-card">
  <h2>{{ person.name }}</h2>
  <p>Género: {{ person.gender }}</p>
  <p>Edad: {{ person.age }}</p>

  @if(person.discount) {
  <p>Descuento: {{ person.discount }}</p>
  }
</div>
}

<button (click)="addVideo()">add new video to youtube</button>

<div
  [ngColors]="'green'"
  [defaultColor]="'pink'"
  (colorClick)="getColor($event)"
  (colorDoubleClick)="getColor($event)"
  style="border: 1px solid orange"
>
  MY CUSTOM ATRIBUTE DIRECTIVE
</div>

<button (click)="userCardCreated = !userCardCreated">
  change userCardCreated
</button>
{{ userCardCreated }}
<div *ngCreateHtml="userCardCreated" (sendMessage)="getColor($event)">
  <p>MY CUSTOM STRUCTURAL DIRECTIVE</p>
  <p>EXAMPLE</p>
</div>

<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    src="https://material.angular.io/assets/img/examples/shiba2.jpg"
    alt="Photo of a Shiba Inu"
  />
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz
      breeds of dog from Japan. A small, agile dog that copes very well with
      mountainous terrain, the Shiba Inu was originally bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>

<h1 class="text-sm font-bold underline text-red-800">Hello world TAILWIND!</h1>

<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Email address</label>
  <input
    type="email"
    class="form-control"
    id="exampleFormControlInput1"
    placeholder="name@example.com"
  />
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label"
    >Example textarea</label
  >
  <textarea
    class="form-control"
    id="exampleFormControlTextarea1"
    rows="3"
  ></textarea>
</div>

<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-dark">Dark</button>

<button type="button" class="btn btn-link">Link</button>
