.person-card {
  position: relative;
  padding: 16px;
  border: 5px solid #ccc;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  // border-right: 50px;
  margin-bottom: 16px;
}

.discount-label {
  background-color: red;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 0.8rem;
  position: absolute;
  top: 8px;
  right: 8px;
}
